function Sys.init 0
push constant 6
push constant 8
call Class1.set 2
pop temp 0 
push constant 23
push constant 15
call Class2.set 2
pop temp 0 
call Class1.get 0
call Class2.get 0
label WHILE
goto WHILE
