function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 0
push static 0
push constant 0
add
pop pointer 1
push that 0
return
function Keyboard.readChar 1
push pointer 0
call Keyboard.keyPressed 1
pop local 0
label whileStart0
push local 0
push constant 0
eq
not
if-goto whileEnd0
push pointer 0
call Keyboard.keyPressed 1
pop local 0
goto whileStart0
label whileEnd0
label whileStart1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto whileEnd1
goto whileStart1
label whileEnd1
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push argument 0
call Output.printString 1
pop temp 0
push constant 50
call String.new 1
pop local 0
push pointer 0
call Keyboard.readChar 1
pop local 1
label whileStart2
push local 1
call String.newLine 0
eq
not
not
if-goto whileEnd2
push local 1
call String.backSpace 0
eq
not
if-goto ifElse0
push local 0
call String.eraseLastChar 1
pop temp 0
goto ifEnd0
label ifElse0
push local 0
push local 1
call String.appendChar 2
pop temp 0
label ifEnd0
push pointer 0
call Keyboard.readChar 1
pop local 1
goto whileStart2
label whileEnd2
push local 0
return
function Keyboard.readInt 1
push argument 0
push pointer 0
call Keyboard.readLine 2
pop local 0
push local 0
call String.intValue 1
return
