function Log.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 0
push argument 0
pop this 1
push argument 3
pop this 2
push argument 4
pop this 3
push argument 2
pop this 5
push pointer 0
call Log.draw 1
pop temp 0
push pointer 0
return
function Log.x 0
push argument 0
pop pointer 0
push this 0
return
function Log.y 0
push argument 0
pop pointer 0
push this 1
return
function Log.width 0
push argument 0
pop pointer 0
push this 2
return
function Log.height 0
push argument 0
pop pointer 0
push this 3
return
function Log.isFrogOnLog 7
push argument 0
pop pointer 0
push argument 2
push this 1
sub
call Math.abs 1
pop local 6
push local 6
push constant 10
lt
pop local 4
push this 1
push this 3
add
push argument 2
sub
call Math.abs 1
pop local 6
push local 6
push constant 10
lt
pop local 5
push argument 1
push this 0
sub
call Math.abs 1
pop local 6
push local 6
push constant 10
lt
pop local 2
push this 0
push this 2
add
push argument 1
sub
call Math.abs 1
pop local 6
push local 6
push constant 10
lt
pop local 3
push this 0
push argument 1
lt
push constant 10
sub
push this 0
push this 2
add
push argument 1
gt
push constant 10
add
and
pop local 0
push this 1
push argument 2
lt
push constant 10
sub
push this 1
push this 3
add
push argument 2
gt
push constant 10
add
and
pop local 1
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push local 5
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push local 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
push local 3
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
push constant 0
return
function Log.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Log.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Log.move 0
push argument 0
pop pointer 0
push this 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Log.moveLeft 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call Log.moveRight 1
pop temp 0
label IF_END0
push constant 0
return
function Log.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 5
label IF_END0
push constant 0
return
function Log.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
not
pop this 5
label IF_END0
push constant 0
return
