function Memory.init 0
push constant 0
pop static 1
push constant 2048
pop static 2
push constant 16383
pop static 3
push constant 1
neg
pop static 4
push static 2
pop static 0
push static 0
push static 1
add
push static 3
push static 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push static 1
add
push static 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 1
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 5
push constant 1
neg
pop local 3
push static 0
pop local 2
push static 0
pop local 1
label WHILE_EXP0
push local 1
push static 4
eq
not
push local 1
push static 1
add
pop pointer 1
push that 0
push argument 0
gt
not
and
not
if-goto WHILE_END0
push local 1
pop local 2
push local 1
push constant 1
add
push static 1
add
pop pointer 1
push that 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 1
push static 4
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push static 1
add
pop pointer 1
push that 0
push argument 0
push constant 3
add
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 1
add
push static 1
add
push local 1
push constant 1
add
push static 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push static 1
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 3
goto IF_END1
label IF_FALSE1
push local 1
push static 1
add
push local 1
push static 1
add
pop pointer 1
push that 0
push argument 0
sub
push constant 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push local 1
push static 1
add
pop pointer 1
push that 0
add
pop local 3
push local 3
push constant 1
sub
push static 1
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
label IF_FALSE0
push local 3
return
function Memory.deAlloc 0
push argument 0
push static 1
add
push argument 0
push constant 1
sub
push static 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push constant 1
add
push static 1
add
push static 0
push constant 1
add
push static 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
add
push static 1
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
