push VAR 1
push VAR 2
push VAR 3
push VAR 4
function Main.Main.main 3
push VAR 2
pop pointer 0
push constant 17
call String.new 1
push constant 34
call String.appendChar 1
push constant 72
call String.appendChar 1
push constant 111
call String.appendChar 1
push constant 119
call String.appendChar 1
push constant 109
call String.appendChar 1
push constant 97
call String.appendChar 1
push constant 110
call String.appendChar 1
push constant 121
call String.appendChar 1
push constant 110
call String.appendChar 1
push constant 117
call String.appendChar 1
push constant 109
call String.appendChar 1
push constant 98
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 114
call String.appendChar 1
push constant 115
call String.appendChar 1
push constant 63
call String.appendChar 1
push constant 34
call String.appendChar 1
call Keyboard.readInt 0
push VAR 2
push VAR 1
pop pointer 0
push VAR 2
call Array.new 0
push VAR 1
push VAR 3
pop pointer 0
push constant 0
push VAR 3
label LOOP0
push VAR 3
push VAR 2
gt
not
if-goto L0
push VAR 1
push VAR 3
add
pop pointer 1
push constant 15
call String.new 1
push constant 34
call String.appendChar 1
push constant 69
call String.appendChar 1
push constant 110
call String.appendChar 1
push constant 116
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 114
call String.appendChar 1
push constant 97
call String.appendChar 1
push constant 110
call String.appendChar 1
push constant 117
call String.appendChar 1
push constant 109
call String.appendChar 1
push constant 98
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 114
call String.appendChar 1
push constant 58
call String.appendChar 1
push constant 34
call String.appendChar 1
call Keyboard.readInt 0
pop that 0
push VAR 4
pop pointer 0
push VAR 4
push VAR 1
push VAR 3
add
pop pointer 1
add
push VAR 4
push VAR 3
pop pointer 0
push VAR 3
push constant 1
add
push VAR 3
goto LOOP0
label L0
push constant 14
call String.new 1
push constant 34
call String.appendChar 1
push constant 84
call String.appendChar 1
push constant 104
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 97
call String.appendChar 1
push constant 118
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 114
call String.appendChar 1
push constant 97
call String.appendChar 1
push constant 103
call String.appendChar 1
push constant 101
call String.appendChar 1
push constant 105
call String.appendChar 1
push constant 115
call String.appendChar 1
push constant 34
call String.appendChar 1
call Output.printString 0
push VAR 4
push VAR 2
call Math.divide 2
call Output.printInt 0
return
