push constant 4
call Memory.alloc 1
pop pointer 0
function SquareGame.new 0
push this 2
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 2
push this 4
pop pointer 0
push constant 0
pop this 4
push pointer 0
return
function SquareGame.dispose 0
call square.dispose 0
push pointer 0
call Memory.deAlloc 1
return
function SquareGame.moveSquare 0
push this 4
push constant 1
eq
not
if-goto L0
call square.moveUp 0
label L0
push this 4
push constant 2
eq
not
if-goto L2
call square.moveDown 0
label L2
push this 4
push constant 3
eq
not
if-goto L4
call square.moveLeft 0
label L4
push this 4
push constant 4
eq
not
if-goto L6
call square.moveRight 0
label L6
push constant 5
call Sys.wait 1
return
function SquareGame.run 2
push local 2
pop pointer 0
push constant 0
pop local 2
label LOOP0
push local 2
not
not
if-goto L8
label LOOP0
push local 1
push constant 0
eq
not
if-goto L9
push local 1
pop pointer 0
call Keyboard.keyPressed 0
pop local 1
push this 3
call SquareGame.moveSquare 1
goto LOOP0
label L9
push local 1
push constant 81
eq
not
if-goto L10
push local 2
pop pointer 0
push constant 1
neg
pop local 2
label L10
push local 1
push constant 90
eq
not
if-goto L12
call square.decSize 0
label L12
push local 1
push constant 88
eq
not
if-goto L14
call square.incSize 0
label L14
push local 1
push constant 131
eq
not
if-goto L16
push this 4
pop pointer 0
push constant 1
pop this 4
label L16
push local 1
push constant 133
eq
not
if-goto L18
push this 4
pop pointer 0
push constant 2
pop this 4
label L18
push local 1
push constant 130
eq
not
if-goto L20
push this 4
pop pointer 0
push constant 3
pop this 4
label L20
push local 1
push constant 132
eq
not
if-goto L22
push this 4
pop pointer 0
push constant 4
pop this 4
label L22
label LOOP1
push local 1
push constant 0
eq
not
not
if-goto L24
push local 1
pop pointer 0
call Keyboard.keyPressed 0
pop local 1
push this 3
call SquareGame.moveSquare 1
goto LOOP1
label L24
goto LOOP2
label L8
return
