push constant 5
call Memory.alloc 1
pop pointer 0
push argument 1
push argument 2
push argument 3
function Square.new 0
push this 2
pop pointer 0
push argument 1
pop this 2
push this 3
pop pointer 0
push argument 2
pop this 3
push this 5
pop pointer 0
push argument 3
pop this 5
push this 4
call Square.draw 1
push pointer 0
return
function Square.dispose 0
push pointer 0
call Memory.deAlloc 1
return
function Square.draw 0
push constant 1
neg
call Screen.setColor 1
push this 2
push this 3
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
return
function Square.erase 0
push constant 0
call Screen.setColor 1
push this 2
push this 3
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
return
function Square.incSize 0
push this 3
push this 5
add
push constant 254
gt
push this 2
push this 5
add
push constant 510
gt
and
not
if-goto L0
push this 4
call Square.erase 1
push this 5
pop pointer 0
push this 5
push constant 2
add
pop this 5
push this 4
call Square.draw 1
label L0
return
function Square.decSize 0
push this 5
push constant 2
lt
not
if-goto L2
push this 4
call Square.erase 1
push this 5
pop pointer 0
push this 5
push constant 2
sub
pop this 5
push this 4
call Square.draw 1
label L2
return
function Square.moveUp 0
push this 3
push constant 1
lt
not
if-goto L4
push constant 0
call Screen.setColor 1
push this 2
push this 3
push this 5
add
push constant 1
sub
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
push this 3
pop pointer 0
push this 3
push constant 2
sub
pop this 3
push constant 1
neg
call Screen.setColor 1
push this 2
push this 3
push this 2
push this 5
add
push this 3
push constant 1
add
call Screen.drawRectangle 4
label L4
return
function Square.moveDown 0
push this 3
push this 5
add
push constant 254
gt
not
if-goto L6
push constant 0
call Screen.setColor 1
push this 2
push this 3
push this 2
push this 5
add
push this 3
push constant 1
add
call Screen.drawRectangle 4
push this 3
pop pointer 0
push this 3
push constant 2
add
pop this 3
push constant 1
neg
call Screen.setColor 1
push this 2
push this 3
push this 5
add
push constant 1
sub
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
label L6
return
function Square.moveLeft 0
push this 2
push constant 1
lt
not
if-goto L8
push constant 0
call Screen.setColor 1
push this 2
push this 5
add
push constant 1
sub
push this 3
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
push this 2
pop pointer 0
push this 2
push constant 2
sub
pop this 2
push constant 1
neg
call Screen.setColor 1
push this 2
push this 3
push this 2
push constant 1
add
push this 3
push this 5
add
call Screen.drawRectangle 4
label L8
return
function Square.moveRight 0
push this 2
push this 5
add
push constant 510
gt
not
if-goto L10
push constant 0
call Screen.setColor 1
push this 2
push this 3
push this 2
push constant 1
add
push this 3
push this 5
add
call Screen.drawRectangle 4
push this 2
pop pointer 0
push this 2
push constant 2
add
pop this 2
push constant 1
neg
call Screen.setColor 1
push this 2
push this 5
add
push constant 1
sub
push this 3
push this 2
push this 5
add
push this 3
push this 5
add
call Screen.drawRectangle 4
label L10
return
