function FrogGame.new 1
push constant 15
call Memory.alloc 1
pop pointer 0
push constant 10
push constant 10
push constant 0
not
push constant 165
push constant 19
call Log.new 5
pop this 3
push constant 41
push constant 100
push constant 0
push constant 123
push constant 25
call Log.new 5
pop this 4
push constant 72
push constant 300
push constant 0
not
push constant 164
push constant 23
call Log.new 5
pop this 5
push constant 103
push constant 150
push constant 0
push constant 191
push constant 17
call Log.new 5
pop this 6
push constant 134
push constant 100
push constant 0
not
push constant 183
push constant 20
call Log.new 5
pop this 7
push constant 165
push constant 300
push constant 0
not
push constant 130
push constant 22
call Log.new 5
pop this 8
push constant 196
push constant 0
push constant 0
push constant 198
push constant 18
call Log.new 5
pop this 9
push constant 227
push constant 305
push constant 0
not
push constant 169
push constant 21
call Log.new 5
pop this 10
call Frog.new 0
pop this 0
push constant 1
pop this 2
push this 2
call Fly.new 1
pop this 1
push constant 20
pop this 11
push constant 0
pop this 12
push constant 0
pop this 14
push pointer 0
return
function FrogGame.dispose 0
push argument 0
pop pointer 0
push this 1
call Fly.dispose 1
pop temp 0
push this 0
call Frog.dispose 1
pop temp 0
push this 3
call Log.dispose 1
pop temp 0
push this 4
call Log.dispose 1
pop temp 0
push this 5
call Log.dispose 1
pop temp 0
push this 6
call Log.dispose 1
pop temp 0
push this 7
call Log.dispose 1
pop temp 0
push this 8
call Log.dispose 1
pop temp 0
push this 9
call Log.dispose 1
pop temp 0
push this 10
call Log.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function FrogGame.displayLogs 0
push argument 0
pop pointer 0
push this 11
call Sys.wait 1
pop temp 0
push this 3
call Log.move 1
pop temp 0
push this 4
call Log.move 1
pop temp 0
push this 5
call Log.move 1
pop temp 0
push this 6
call Log.move 1
pop temp 0
push this 7
call Log.move 1
pop temp 0
push this 8
call Log.move 1
pop temp 0
push this 9
call Log.move 1
pop temp 0
push this 10
call Log.move 1
pop temp 0
push this 1
call Fly.draw 1
pop temp 0
push constant 0
return
function FrogGame.isGameOver 1
push argument 0
pop pointer 0
push constant 0
pop local 0
push this 3
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push this 4
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 0
label IF_FALSE1
push this 5
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 0
label IF_FALSE2
push this 6
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop local 0
label IF_FALSE3
push this 7
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 0
label IF_FALSE4
push this 8
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 0
label IF_FALSE5
push this 9
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
pop local 0
label IF_FALSE6
push this 10
push this 0
call Frog.x 1
push this 0
call Frog.y 1
call Log.isFrogOnLog 3
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 0
label IF_FALSE7
push local 0
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
call Screen.clearScreen 0
pop temp 0
push constant 40
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 75
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 12
call Output.printInt 1
pop temp 0
push constant 0
not
pop this 13
label IF_FALSE8
push constant 0
return
function FrogGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
pop this 13
label WHILE_EXP0
push this 13
not
not
if-goto WHILE_END0
label WHILE_EXP1
push this 13
not
push local 0
push constant 0
eq
and
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call FrogGame.displayLogs 1
pop temp 0
push pointer 0
call FrogGame.isGameOver 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 13
call Screen.clearScreen 0
pop temp 0
push constant 34
call String.new 1
push constant 69
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 12
call Output.printInt 1
pop temp 0
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 14
label IF_FALSE1
push local 0
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 14
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop this 14
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop this 14
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
push this 13
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call FrogGame.displayLogs 1
pop temp 0
push pointer 0
call FrogGame.isGameOver 1
pop temp 0
push pointer 0
call FrogGame.moveSquare 1
pop temp 0
push this 1
call Fly.draw 1
pop temp 0
push pointer 0
call FrogGame.isGameOver 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
push pointer 0
call FrogGame.checkFly 1
pop temp 0
push this 11
push constant 2
gt
push local 2
and
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 11
push constant 1
sub
pop this 11
push constant 1
neg
pop local 2
label IF_FALSE5
push local 2
push constant 1
add
pop local 2
push this 12
push constant 20
add
push this 11
sub
pop this 12
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FrogGame.checkFly 1
push argument 0
pop pointer 0
push pointer 0
call FrogGame.isFlyEaten 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 12
push constant 100
add
pop this 12
push this 2
push constant 1
add
pop this 2
push this 2
push constant 5
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 2
label IF_FALSE1
push this 1
call Fly.erase 1
pop temp 0
push this 0
call Frog.draw 1
pop temp 0
push this 2
call Fly.new 1
pop this 1
label IF_FALSE0
push constant 0
return
function FrogGame.isFlyEaten 6
push argument 0
pop pointer 0
push this 0
call Frog.x 1
push this 1
call Fly.x 1
sub
call Math.abs 1
pop local 0
push this 0
call Frog.y 1
push this 1
call Fly.y 1
sub
call Math.abs 1
pop local 1
push this 0
call Frog.x 1
push this 1
call Fly.x 1
gt
pop local 2
push this 0
call Frog.y 1
push this 1
call Fly.y 1
lt
pop local 3
push local 0
push constant 15
lt
pop local 4
push local 1
push constant 15
lt
pop local 5
push local 4
push local 5
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function FrogGame.moveSquare 0
push argument 0
pop pointer 0
push this 14
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Frog.moveUp 1
pop temp 0
label IF_FALSE0
push this 14
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Frog.moveDown 1
pop temp 0
label IF_FALSE1
push this 14
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Frog.moveLeft 1
pop temp 0
label IF_FALSE2
push this 14
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Frog.moveRight 1
pop temp 0
label IF_FALSE3
push constant 0
return
