function Main.main 1
push constant 8001
push constant 16
push constant 1
not
call Main.fillMemory 3
pop temp 0
push local 0
push constant 8000
call Memory.peek 1
pop temp 1
pop pointer 1
push temp 1
pop that 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return
push argument 0
function Main.convert 2
push local 2
push constant 1
neg
pop temp 1
pop pointer 1
push temp 1
pop that 0
label whileStart0
push local 2
not
if-goto whileEnd0
push local 1
push local 1
push constant 1
add
pop temp 1
pop pointer 1
push temp 1
pop that 0
push local 0
push local 0
call Main.nextMask 1
pop temp 1
pop pointer 1
push temp 1
pop that 0
push local 1
push constant 16
lt
not
not
if-goto ifElse0
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto ifElse1
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto ifEnd1
label ifElse1
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label ifEnd1
goto ifEnd0
label ifElse0
push local 2
push constant 0
pop temp 1
pop pointer 1
push temp 1
pop that 0
label ifEnd0
goto whileStart0
label whileEnd0
push constant 0
return
push argument 0
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto ifElse2
push constant 1
push constant 0
return
goto ifEnd2
label ifElse2
push argument 0
push constant 2
call Math.multiply 2
push constant 0
return
label ifEnd2
push argument 0
push argument 1
push argument 2
function Main.fillMemory 0
label whileStart1
push argument 1
push constant 0
lt
not
if-goto whileEnd1
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push argument 1
push constant 1
sub
pop temp 1
pop pointer 1
push temp 1
pop that 0
push argument 0
push argument 0
push constant 1
add
pop temp 1
pop pointer 1
push temp 1
pop that 0
goto whileStart1
label whileEnd1
push constant 0
return
