function Main.main 2
push local 0
push constant 1
push constant 1
call Ball.new 2
pop temp 1
pop pointer 1
push temp 1
pop that 0
push local 1
push constant 5
push constant 5
call Ball.new 2
pop temp 1
pop pointer 1
push temp 1
pop that 0
push local 0
call Ball.xplusy 1
call Output.printInt 1
pop temp 0
push local 1
call Ball.xplusy 1
call Output.printInt 1
pop temp 0
push constant 0
return
